rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir lectura y escritura en media/articles para desarrollo
    match /media/articles/{articleId}/{allPaths=**} {
      allow read, write: if request.time < timestamp.date(2026, 3, 1);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
